.body {
	font-family: "Roboto", sans-serif;
}

.main {
	background-color: #F5FFFA;
}

.body__headline {
	text-align: center;
	font-weight: bold;
	font-stretch: expanded;
	font-family: "Pangolin", cursive;
}

.body__text {
	text-align: center;
	font-stretch: expanded;
}

.blockquote {
	text-align: center;
	quotes: "\2018" "\2019";
	font-style: italic;
}

.article__headline {
	text-align: center;
	font-family: "Roboto", sans-serif;
	text-decoration-style: solid;
	text-decoration-color: #00FA9A;
}

.article__text {
	text-align: center;
	text-indent: each-line;
}

.img {
	border-bottom: 3px;
	border-width: 5px;
	border-style: outset;
	width: 100%;
	height: 500px;
	margin: 0;
	border-color: #6B8E23 #228B22;
	filter: brightness(100%);
}

.article__text2 {
	text-align: center;
	font-style: italic;
	font-family: "Roboto", sans-serif;
	background-position: center;
	background-color: #98FB98;
}

.footer__headline {
	text-align: center;
	font-weight: bold;
}

.footer__text {
	text-align: center;
	color: black;
	background-image: url(https://images.unsplash.com/photo-1589993038078-f5ff010ae143?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
}

.form__button {
	text-align: left;
}